<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifunit.lanwei.mapper.CateMapper">
    <resultMap type="com.sifunit.lanwei.vo.ProceCateTree" id="parentTreeMap">
        <id column="proce_cate_id" property="id"/>
        <result column="parent_cate_id" property="parent_id"/>
        <result column="proce_cate_name" property="title"/>
        <collection property="children" ofType="com.sifunit.lanwei.vo.ProceCateTree" column="proce_cate_id" select="getChildren"/>
    </resultMap>

    <!-- 先查询菜单根级目录 -->
    <!-- 这里的返回结果必须为resultMap，并且值为上面构建的resultMap的id的值 -->
    <select id="getProceCateTree" resultMap="parentTreeMap">
        SELECT proce_cate_id,parent_cate_id,proce_cate_name FROM proce_cate  WHERE  parent_cate_id=0
    </select>
    <!-- 再利用上次查询结果colliection中column的值cid做递归查询，查出所有子菜单 -->
    <!-- 这里的返回结果必须为resultMap，并且值为上面构建的resultMap的id的值 -->
    <select id="getChildren" resultMap="parentTreeMap">
        SELECT
            proce_cate_id,parent_cate_id,proce_cate_name
        FROM
            proce_cate
        WHERE
            parent_cate_id= #{id}
    </select>
</mapper>