<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifunit.lanwei.mapper.GoodCateMapper">
  <resultMap id="BaseResultMap" type="com.sifunit.lanwei.domain.GoodCate">
    <constructor>
      <idArg column="good_cate_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="good_cate_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="parent_cate_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="good_cate_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="flag" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    good_cate_id, good_cate_name, parent_cate_id, good_cate_desc, flag, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_good_cate
    where good_cate_id = #{goodCateId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_good_cate
    where good_cate_id = #{goodCateId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sifunit.lanwei.domain.GoodCate">
    insert into t_good_cate (good_cate_id, good_cate_name, parent_cate_id, 
      good_cate_desc, flag, create_time, 
      update_time)
    values (#{goodCateId,jdbcType=BIGINT}, #{goodCateName,jdbcType=VARCHAR}, #{parentCateId,jdbcType=BIGINT}, 
      #{goodCateDesc,jdbcType=VARCHAR}, #{flag,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sifunit.lanwei.domain.GoodCate">
    insert into t_good_cate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodCateId != null">
        good_cate_id,
      </if>
      <if test="goodCateName != null">
        good_cate_name,
      </if>
      <if test="parentCateId != null">
        parent_cate_id,
      </if>
      <if test="goodCateDesc != null">
        good_cate_desc,
      </if>
      <if test="flag != null">
        flag,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodCateId != null">
        #{goodCateId,jdbcType=BIGINT},
      </if>
      <if test="goodCateName != null">
        #{goodCateName,jdbcType=VARCHAR},
      </if>
      <if test="parentCateId != null">
        #{parentCateId,jdbcType=BIGINT},
      </if>
      <if test="goodCateDesc != null">
        #{goodCateDesc,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
        now(),now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sifunit.lanwei.domain.GoodCate">
    update t_good_cate
    <set>
      <if test="goodCateName != null">
        good_cate_name = #{goodCateName,jdbcType=VARCHAR},
      </if>
      <if test="parentCateId != null">
        parent_cate_id = #{parentCateId,jdbcType=BIGINT},
      </if>
      <if test="goodCateDesc != null">
        good_cate_desc = #{goodCateDesc,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = now(),
    </set>
    where good_cate_id = #{goodCateId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sifunit.lanwei.domain.GoodCate">
    update t_good_cate
    set good_cate_name = #{goodCateName,jdbcType=VARCHAR},
      parent_cate_id = #{parentCateId,jdbcType=BIGINT},
      good_cate_desc = #{goodCateDesc,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where good_cate_id = #{goodCateId,jdbcType=BIGINT}
  </update>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_good_cate
  </select>
</mapper>