<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifunit.lanwei.mapper.MaterialMapper">
  <resultMap id="BaseResultMap" type="com.sifunit.lanwei.domain.Material">
    <constructor>
      <idArg column="material_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="material_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="material_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="material_cate_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="material_cate_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="material_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="material_size" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="flag" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    material_id, material_no, material_name, material_cate_id, material_cate_name, material_desc, material_size,
    flag, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_material
    where material_id = #{materialId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_material
    where material_id = #{materialId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sifunit.lanwei.domain.Material">
    insert into t_material (material_id, material_no, material_name, 
      material_cate_id, material_cate_name, material_desc, 
      flag, create_time, update_time
      )
    values (#{materialId,jdbcType=BIGINT}, #{materialNo,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, 
      #{materialCateId,jdbcType=BIGINT}, #{materialCateName,jdbcType=VARCHAR}, #{materialDesc,jdbcType=VARCHAR},
      #{materialSize,jdbcType=VARCHAR}, #{flag,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sifunit.lanwei.domain.Material">
    insert into t_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="materialId != null">
        material_id,
      </if>
      <if test="materialNo != null">
        material_no,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialCateId != null">
        material_cate_id,
      </if>
      <if test="materialCateName != null">
        material_cate_name,
      </if>
      <if test="materialDesc != null">
        material_desc,
      </if>
      <if test="materialSize != null">
        material_size,
      </if>
      <if test="flag != null">
        flag,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="materialId != null">
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="materialNo != null">
        #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialCateId != null">
        #{materialCateId,jdbcType=BIGINT},
      </if>
      <if test="materialCateName != null">
        #{materialCateName,jdbcType=VARCHAR},
      </if>
      <if test="materialDesc != null">
        #{materialDesc,jdbcType=VARCHAR},
      </if>
      <if test="materialSize != null">
        #{materialSize,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
      now(),now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sifunit.lanwei.domain.Material">
    update t_material
    <set>
      <if test="materialNo != null">
        material_no = #{materialNo,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialCateId != null">
        material_cate_id = #{materialCateId,jdbcType=BIGINT},
      </if>
      <if test="materialCateName != null">
        material_cate_name = #{materialCateName,jdbcType=VARCHAR},
      </if>
      <if test="materialDesc != null">
        material_desc = #{materialDesc,jdbcType=VARCHAR},
      </if>
      <if test="materialSize != null">
        material_size = #{materialSize,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = now(),
    </set>
    where material_id = #{materialId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sifunit.lanwei.domain.Material">
    update t_material
    set material_no = #{materialNo,jdbcType=VARCHAR},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_cate_id = #{materialCateId,jdbcType=BIGINT},
      material_cate_name = #{materialCateName,jdbcType=VARCHAR},
      material_desc = #{materialDesc,jdbcType=VARCHAR},
      material_size= #{materialSize,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where material_id = #{materialId,jdbcType=BIGINT}
  </update>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_material where flag = 1
  </select>
</mapper>