<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifunit.lanwei.mapper.ProductionDetailMapper">
  <resultMap type="com.sifunit.lanwei.vo.ProductionDetail" id="productionDetail">
    <id column="production_id" property="productionId"/>
    <result column="production_no" property="productionNo"/>
    <result column="contact_no" property="contactNo"/>
    <result column="export_no" property="exportNo"/>
    <result column="customer_id" property="customerId"/>
    <result column="customer_name" property="customerName"/>
    <result column="create_time" property="createTime"/>
    <result column="advance_time" property="advanceTime"/>
    <result column="real_time" property="realTime"/>
    <result column="is_completed" property="isCompleted"/>
    <collection property="products" ofType="com.sifunit.lanwei.vo.ProductDetail" column="production_id" select="getProducts"/>
  </resultMap>

  <sql id="Base_Column_List">
    production_id, production_no, contact_no, export_no, a.customer_id, a.create_time, advance_time,
    real_time, is_completed
  </sql>

  <select id="list" resultMap="productionDetail">
    SELECT
    <include refid="Base_Column_List" />
    ,b.customer_name
    FROM t_production a
    LEFT JOIN
        t_customer b
    ON b.customer_id = a.customer_id

  </select>
  
  <resultMap id="productDetailMap" type="com.sifunit.lanwei.vo.ProductDetail">
    <result column="product_id" property="productId" />
    <result column="product_serial" property="productSerial" />
    <result column="product_num" property="productNum" />
    <result column="product_color" property="productColor" />
    <result column="production_desc" property="productionDesc" />
    <result column="product_name" property="productName" />
  </resultMap>

  <select id="getProducts" resultMap="productDetailMap">
    SELECT
      a.product_id,a.product_serial,a.product_num,a.product_color,a.production_desc,b.product_name
    FROM
      t_production_detail a
    LEFT JOIN
          t_product b
    ON
        a.product_id = b.product_id
    WHERE
        a.production_id = #{product_id}
  </select>
</mapper>