<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifunit.lanwei.mapper.ProductionPlanMapper">
  <resultMap id="BaseResultMap" type="com.sifunit.lanwei.domain.ProductionPlan">
    <constructor>
      <idArg column="pro_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="pro_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pro_contract num" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pro_export_num" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pro_order_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="pro_advance_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="pro_real_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    pro_id, pro_number, "pro_contract num", pro_export_num, pro_order_time, pro_advance_time, 
    pro_real_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from production_plan
    where pro_id = #{proId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from production_plan
    where pro_id = #{proId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sifunit.lanwei.domain.ProductionPlan">
    insert into production_plan (pro_id, pro_number, "pro_contract num", 
      pro_export_num, pro_order_time, pro_advance_time, 
      pro_real_time)
    values (#{proId,jdbcType=BIGINT}, #{proNumber,jdbcType=VARCHAR}, #{proContractNum,jdbcType=VARCHAR}, 
      #{proExportNum,jdbcType=VARCHAR}, #{proOrderTime,jdbcType=TIMESTAMP}, #{proAdvanceTime,jdbcType=TIMESTAMP}, 
      #{proRealTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sifunit.lanwei.domain.ProductionPlan">
    insert into production_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proId != null">
        pro_id,
      </if>
      <if test="proNumber != null">
        pro_number,
      </if>
      <if test="proContractNum != null">
        "pro_contract num",
      </if>
      <if test="proExportNum != null">
        pro_export_num,
      </if>
      <if test="proOrderTime != null">
        pro_order_time,
      </if>
      <if test="proAdvanceTime != null">
        pro_advance_time,
      </if>
      <if test="proRealTime != null">
        pro_real_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proId != null">
        #{proId,jdbcType=BIGINT},
      </if>
      <if test="proNumber != null">
        #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proContractNum != null">
        #{proContractNum,jdbcType=VARCHAR},
      </if>
      <if test="proExportNum != null">
        #{proExportNum,jdbcType=VARCHAR},
      </if>
      <if test="proOrderTime != null">
        #{proOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="proAdvanceTime != null">
        #{proAdvanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="proRealTime != null">
        #{proRealTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sifunit.lanwei.domain.ProductionPlan">
    update production_plan
    <set>
      <if test="proNumber != null">
        pro_number = #{proNumber,jdbcType=VARCHAR},
      </if>
      <if test="proContractNum != null">
        "pro_contract num" = #{proContractNum,jdbcType=VARCHAR},
      </if>
      <if test="proExportNum != null">
        pro_export_num = #{proExportNum,jdbcType=VARCHAR},
      </if>
      <if test="proOrderTime != null">
        pro_order_time = #{proOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="proAdvanceTime != null">
        pro_advance_time = #{proAdvanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="proRealTime != null">
        pro_real_time = #{proRealTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pro_id = #{proId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sifunit.lanwei.domain.ProductionPlan">
    update production_plan
    set pro_number = #{proNumber,jdbcType=VARCHAR},
      "pro_contract num" = #{proContractNum,jdbcType=VARCHAR},
      pro_export_num = #{proExportNum,jdbcType=VARCHAR},
      pro_order_time = #{proOrderTime,jdbcType=TIMESTAMP},
      pro_advance_time = #{proAdvanceTime,jdbcType=TIMESTAMP},
      pro_real_time = #{proRealTime,jdbcType=TIMESTAMP}
    where pro_id = #{proId,jdbcType=BIGINT}
  </update>
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from production_plan
    order by pro_id desc
  </select>

</mapper>