<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifunit.lanwei.mapper.ProgressMapper">
  <resultMap id="BaseResultMap" type="com.sifunit.lanwei.domain.Progress">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="production_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="proce_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="completed_num" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="goal_num" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="proce_price" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="proce_comment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="finishd_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, production_id, product_id, proce_id, completed_num, goal_num, proce_price, proce_comment, 
    create_time, finishd_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_progress
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_progress
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sifunit.lanwei.domain.Progress">
    insert into t_progress (id, production_id, product_id, 
      proce_id, completed_num, goal_num, 
      proce_price, proce_comment, create_time, 
      finishd_time)
    values (#{id,jdbcType=BIGINT}, #{productionId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{proceId,jdbcType=BIGINT}, #{completedNum,jdbcType=BIGINT}, #{goalNum,jdbcType=BIGINT}, 
      #{procePrice,jdbcType=REAL}, #{proceComment,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{finishdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sifunit.lanwei.domain.Progress">
    insert into t_progress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productionId != null">
        production_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="proceId != null">
        proce_id,
      </if>
      <if test="completedNum != null">
        completed_num,
      </if>
      <if test="goalNum != null">
        goal_num,
      </if>
      <if test="procePrice != null">
        proce_price,
      </if>
      <if test="proceComment != null">
        proce_comment,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="finishdTime != null">
        finishd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productionId != null">
        #{productionId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="proceId != null">
        #{proceId,jdbcType=BIGINT},
      </if>
      <if test="completedNum != null">
        #{completedNum,jdbcType=BIGINT},
      </if>
      <if test="goalNum != null">
        #{goalNum,jdbcType=BIGINT},
      </if>
      <if test="procePrice != null">
        #{procePrice,jdbcType=REAL},
      </if>
      <if test="proceComment != null">
        #{proceComment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishdTime != null">
        #{finishdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sifunit.lanwei.domain.Progress">
    update t_progress
    <set>
      <if test="productionId != null">
        production_id = #{productionId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="proceId != null">
        proce_id = #{proceId,jdbcType=BIGINT},
      </if>
      <if test="completedNum != null">
        completed_num = #{completedNum,jdbcType=BIGINT},
      </if>
      <if test="goalNum != null">
        goal_num = #{goalNum,jdbcType=BIGINT},
      </if>
      <if test="procePrice != null">
        proce_price = #{procePrice,jdbcType=REAL},
      </if>
      <if test="proceComment != null">
        proce_comment = #{proceComment,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishdTime != null">
        finishd_time = #{finishdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sifunit.lanwei.domain.Progress">
    update t_progress
    set production_id = #{productionId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      proce_id = #{proceId,jdbcType=BIGINT},
      completed_num = #{completedNum,jdbcType=BIGINT},
      goal_num = #{goalNum,jdbcType=BIGINT},
      proce_price = #{procePrice,jdbcType=REAL},
      proce_comment = #{proceComment,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      finishd_time = #{finishdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>