<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>添加生产计划表</title>
        <base th:href="${#request.getContextPath()}+'/'">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/xadmin.css">
        <link rel="stylesheet" href="css/my.css">
        <script type="text/javascript" src="lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="js/xadmin.js"></script>

        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="deptform">
                    <h2 style="text-align: center; margin-bottom: 20px; font-weight: bold">生产计划表</h2>
                  <div class="layui-form-item">
                        <label for="createTime" class="layui-form-label">
                            <span class="x-red">*</span>下单时间
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="createTime" name="createTime" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                      <label for="contactNo" class="layui-form-label">
                          <span class="x-red">*</span>合同编号
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="contactNo" name="contactNo" required="" lay-verify="required"
                                 autocomplete="off" class="layui-input">
                      </div>

                    </div>
                  <div class="layui-form-item">
                      <label for="advanceTime" class="layui-form-label">
                          <span class="x-red">*</span>预交时间
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="advanceTime" name="advanceTime" required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>
                      <label for="goodNum" class="layui-form-label">
                          <span class="x-red">*</span>外销编号
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="goodNum" name="goodNum" required="" lay-verify="required"
                                 autocomplete="off" class="layui-input">
                      </div>

                  </div>
                  <div class="layui-form-item">
                      <label for="realTime" class="layui-form-label">
                          <span class="x-red">*</span>实际交期
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="realTime" name="realTime" required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>

                      <label for="goodName" class="layui-form-label">
                          <span class="x-red">*</span>生产单号
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="goodName" name="goodName" required="" lay-verify="required"
                                 autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>客户名称
                        </label>
                        <div class="layui-input-inline">
                            <select name="customerId" lay-verify="required" lay-search="">
                                <option value="">直接选择或搜索选择</option>
                                <option th:each="customer : ${customers.list}" th:value="${customer.customerId}" th:text="${customer.customerName}">客户名称</option>
                            </select>
                        </div>
                      <label for="comment" class="layui-form-label">
                          备注
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="comment" name="goodName" required="" lay-verify="required"
                                 autocomplete="off" class="layui-input">
                      </div>
                    </div>
                  <div style="padding-left: 30px; padding-right: 30px;">
                      <div class="layui-form-item"  style="border: 1px solid #009688;border-radius: 5px">
                          <table class="layui-table production_table" lay-skin="line" style="text-align: center;">
                              <thead class="top-head">
                              <tr>
                                  <th>序号</th>
                                  <th style="width: 120px;">产品编码</th>
                                  <th>序号</th>
                                  <th>图片</th>
                                  <th>颜色</th>
                                  <th>数量</th>
                                  <th>单位</th>
                                  <th>产品工艺描述</th>
                                  <th>操作</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr class="producttr">
                                  <td><span class="numberClass"></span></td>
                                  <td  style="width: 120px;">
                                      <div>
                                          <select name="productId[]" lay-filter="materialId" lay-verify="required" lay-search="">
                                              <option value="">直接选择或搜索选择</option>
                                              <option th:each="product : ${products.list}" th:value="${product.productId}" th:text="${product.productNo}">直接选择或搜索选择</option>
                                          </select>
                                      </div>
                                  </td>
                                  <td  style="width: 70px;">
                                  <div>
                                    <input type="text" name="productSerial[]" placeholder="" autocomplete="off" class="layui-input">
                                  </div>
                                  </td>
                                  <td><img style="width: 85px;height: 85px;" src="images/lanwei.jpg" alt=""></td>
                                  <td style="width: 70px;"><input type="text" name="productColor[]" placeholder="" autocomplete="off" class="layui-input"></td>
                                  <td style="width: 70px;"><input type="text" name="productNum[]" placeholder="" autocomplete="off" class="layui-input"></td>
                                  <td style="width: 70px;">
                                      <select name="unitId[]" id="">
                                          <option th:each="unit : ${units.list}" th:value="${unit.unitId}" th:text="${unit.unitName}">单位</option>
                                      </select>
                                  </td>
                                  <td><input type="text" name="productDesc[]" placeholder="" autocomplete="off" class="layui-input"></td>
                                  <td><a title="删除" disabled onclick="member_del(this,'要删除的id')" href="javascript:;">
                                      <i class="layui-icon">&#xe640;</i>删除
                                  </a></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="layui-form-item">
                          <a id="addProduct" class="layui-btn layui-btn-primary" onclick="addTr()" href="javascript:;">增加一行</a>

                      </div>
                      <div class="layui-form-item">
                          <div class="layui-row" style="color: #666;">
                              <div class="layui-col-xs6">
                                  <div class="grid-demo grid-demo-bg1">
                                      <h3>制单人</h3>
                                      <p>干伟江</p>
                                  </div>
                              </div>
                              <div class="layui-col-xs6">
                                  <div class="grid-demo">
                                      <h3>创建时间</h3>
                                      <p id="createDate">2021-03-18</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="layui-form-item">
                          <div class="layui-form-item" style="margin-top: 50px; float: right">
                              <button  class="layui-btn" lay-filter="add" lay-submit="">
                                  提交
                              </button>
                          </div>
                      </div>
                  </div>

                </form>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script>
            function member_del(obj,id){
                if ($(".producttr").length <= 1) {
                    return;
                }
                layer.confirm('确认要删除吗？',function(index){
                    //发异步删除数据
                    $(obj).parents("tr").remove();
                    number();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
            }
            //增加一行按钮点击功能
            function addTr() {
                var tr = $(".producttr:last");
                var newtr = tr.clone(true);

                tr.after(newtr);
                number();
                return false;
            }

            function number() {
                for(var i=0;i< $(".numberClass").length;i++){
                    $(".numberClass").get(i).innerHTML = i+1;
                }
            }

            function getFormatDate(){
                var nowDate = new Date();
                var year = nowDate.getFullYear();
                var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
                var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
                var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();
                var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
                var second = nowDate.getSeconds()< 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();
                return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
            }

            $(document).ready(function (){
                number();

                $("#createDate").text(getFormatDate())
            })
        </script>

        <script>
            layui.use(['form', 'layedit', 'laydate', 'jquery'], function(){
                var form = layui.form
                    ,layer = layui.layer
                    ,$ = layui.jquery
                    ,laydate = layui.laydate;

                //日期
                laydate.render({
                    elem: '#date'
                });
                laydate.render({
                    elem: '#date1'
                });
                laydate.render({
                    elem: '#createTime'
                });
                laydate.render({
                    elem: '#advanceTime'
                });
                laydate.render({
                    elem: '#realTime'
                });


                //自定义验证规则
                form.verify({
                    title: function(value){
                        if(value.length < 5){
                            return '标题至少得5个字符啊';
                        }
                    }
                    ,pass: [
                        /^[\S]{6,12}$/
                        ,'密码必须6到12位，且不能出现空格'
                    ]
                    ,content: function(value){
                        layedit.sync(editIndex);
                    }
                });

                //监听提交

                form.on('select(productId)', function(data){
                    if (data.value == ''){
                        $(data.othis).parents("tr").find("input[name='productName[]']").val('');
                        $(data.othis).parents("tr").find("input[name='productNo[]']").val('');
                        $(data.othis).parents("tr").find("input[name='productSize[]']").val('');
                        return;
                    }
                    $.ajax({
                        type:'post',
                        url:'product/selectById',
                        data:{productId:data.value},
                        success:function(res){

                            if (res) {
                                $(data.othis).parents("tr").find("input[name='materialName[]']").val(res.materialName);
                                $(data.othis).parents("tr").find("input[name='materialNo[]']").val(res.materialNo);
                                $(data.othis).parents("tr").find("input[name='materialSize[]']").val(res.materialSize);
                            }
                        },
                    });
                });

                form.on('submit(add)', function(data){
                    console.log(data)
                    $.ajax({
                        data: '',
                        url: 'production/productionAdd',
                        type: 'post',
                        success: function (res) {
                            if (res.result) {
                                layer.alert("增加成功", {
                                    icon: 6
                                }, function() {
                                    //关闭当前frame
                                    xadmin.close();
                                    // 可以对父窗口进行刷新
                                    xadmin.father_reload();
                                });
                            } else {
                                layer.alert("添加失败", {
                                    icon: 5
                                },function () {
                                    //关闭当前frame
                                    xadmin.close();

                                })
                            }
                        }
                    })

                    return false;
                });



            });

        </script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>
    <div id="customer" style="display: none; padding: 15px;">
        <div id="customerList"></div>
    </div>
</html>
