th.thcheckbox {
    min-width: 30px;
    width: 30px;
}

.mytable th,.mytable td {
    text-align: center;
    min-width: 40px;
}

.production_detail {
    background: #2F4056;
    color: white;
    padding: 5px 15px;
}

.detail_left p, .detail_right p {
    font-size: 14px;
    line-height: 30px;
}

.detail_right span, .detail_left span {
    font-weight: bold;
}

.mytable td, .mytable th {
    min-width: 20px;
}

.marigntop20 {
    margin-top: 20px;
}

.progress_left {
    display: inline-block;
    width: 20%;
}

.progress_item p {
    font-size: 14px;
    font-weight: 400;
    color: #1E9FFF;
}

.progress_right {
    display: inline-block;
    width: 75%;
}

.progress_item {
    padding: 10px;
}

.production_table td, .production_table th {
    min-width: 50px;
    text-align: center;
}

.layui-row p {
    margin-top: 10px;
}

.layui-form-radio {
    padding-right: 0px;
}

.production_table .layui-input-inline {
    margin-right: 0px;
}
